<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/fee77df2ed.js" crossorigin="anonymous" ></script>
    <title>Nav Bar</title>
  </head>
  <body>
    <nav class="sidebar">
      <a href="/" class="brand">Home</a>
      <div class="h_line"></div>
      <div class="content">
        <a href="/items"><i class="las la-box"></i>All Items</a>
        <div class="h_line"></div>
        <a href="/categories/new"><i class="fa-solid fa-plus"></i> New Category</a>
        <a href="/items/new"><i class="fa-solid fa-plus"></i> New Item</a>
      </div>
    </nav>
  </body>
</html>
