<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create New Category</title>
</head>
<body>
   <div class="wrapper">
     <%- include('partials/navbar') %>
     <div class="container">
       <h1 class="sub-title">Add new Category</h1>
       <div class="categories-form-container">
         <form class="form" method="POST" enctype="multipart/form-data" action="/categories/new">
           <label class="input-group"  for="categoryName">Name</label>
           <input id="categoryName" type="text" name="categoryName" maxlength="20" required />

           <label class="input-group" for="categoryImage">Category Image</label>
           <input id="categoryImage" type="file" name="categoryImage" accept="image/*"/>
       
           <div class="category-form-btns">
             <button class="add-category-btn" type="submit">Add Category</button>
             <a class="view-category-btn" href="/">View Categories!</a>
 
           </div>
          </form>
       </div>

     </div>

   </div>
</body>
</html>
  