<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create New Item</title>
</head>
<body>
   <div class="wrapper">
     <%- include('partials/navbar') %>
     <div class="container">
      <h1 class="sub-title">Add Item</h1>
       <div class="form-container">
         <form class="form" method="POST" action="/items/new">
           <label class="input-group"  for="itemName">Name</label>
           <input id="itemName" type="text" name="itemName" maxlength="30" required />

           <label class="input-group"  for="itemPrice">Price</label>
           <input id="itemPrice" type="text" name="itemPrice" maxlength="10" required />

           <label class="input-group"  for="itemSize">Size</label>
           <input id="itemSize" type="text" name="itemSize" maxlength="10" required />

           <select name="itemCategory" id="itemCategory" required>
             <option value="" disabled selected>Select a Category</option> <!-- Placeholder option -->
             <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>    <!-- id is submitted but only the name is shown-->
             <% }) %>
           </select>
           <div class="form-btns">
             <button class="add-btn" type="submit">Add Item</button>
             <a class="view-btn" href="/items">View Items!</a>
           </div>
           <%- include("partials/errors.ejs") %>
         </form>
       </div>

     </div>

   </div>
</body>
</html>
  
