<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create New Item</title>
</head>
<body>
   <div class="wrapper">
     <%- include('partials/navbar') %>
     <div class="container">
       <div class="form-container">
         <form class="form" method="POST" action="/items/new">
           <label class="input-group"  for="itemName">name</label>
           <input id="itemName" type="text" name="itemName" maxlength="20" required />

           <label class="input-group"  for="itemPrice">Price</label>
           <input id="itemPrice" type="text" name="itemPrice" maxlength="10" required />

           <label class="input-group"  for="itemSize">Size</label>
           <input id="itemSize" type="text" name="itemSize" maxlength="10" required />

           <label for="selectCategory">Select a Category:</label>
           <select name="selectCategory" id="selectCategory">
            <% categories.forEach(category => { %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% }) %>
          </select>
       
           <button class="" type="submit">Add Item</button>
           <a class="" href="/">View Items!</a>
         </form>
       </div>

     </div>

   </div>
</body>
</html>
  


<%# /* category represents each individual object (or element) in the categories array as the loop iterates over it. %>

<%# /* categories is an array, which you pass from your server to the EJS template. %>
<%# /* Each element in this array represents a category object with properties like name.  %>


<%# /* categories.forEach() is a function that iterates over every element (object) in the categories array.  %>



<$# /* Callback function (category => { ... }):    %>

  <$# /*  Inside forEach, you provide a callback function. This function gets called for every element in the array.  %>
  <$# /*  The current element being processed is passed as an argument to this function (category in this case).      %>
  <$# /*  category will refer to each category object in the categories array as the loop runs.                       %>



  <%# /* The < option > tag is populated with the name property of each category object.                                            %>

  <%# /*  For each category, the following is executed      < option value="< %= category.name %>">< %= category.name % ></ option>    %>
  
  <%# /* This will create an < option > tag in the HTML with the value and displayed text set to the name of the category.          %>
  
  
  <%# /* The forEach loop doesn't return a value; it just executes the function for each item in the array.                            %>
  