<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Sign Up</title>
</head>
<body>



  <div class="signup-container">
    <img class="logo" src="/images/logo/logo1.png" alt="logo">
    <h1>Sign up</h1>
    <form action="/auth/sign-up" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="Username" type="text" maxlength="20" minlength="3" />
      <label for="password">Password</label>
      <input id="password" name="password" type="Password" placeholder="Password" />
      <button type="submit">Sign Up</button>
    </form>
    <%- include("partials/errors.ejs") %>
  </div>
  
</body>
</html>
